<h3>
  Tabela Clientes!
</h3>
<table class="highlight">
  <tr>
    <th>Matricula</th>
    <th>Nome</th>
    <th>e-mail</th>
    <th>Telefone</th>
    <th>Editar</th>
    <th>Remover</th>
  </tr>
  <tr *ngFor='let usuario of usuarios;let i=index'>
    <td>{{usuario.matricula}}</td>
    <td>{{usuario.nome}}</td>
    <td>{{usuario.email}}</td>
    <td>{{usuario.telefone}}</td>
    <td><a [routerLink]="['/edicaousuario',i]">Editar</a></td>
    <td><a routerLink="/lista" (click)="removerUsuario(i)">Remover</a></td>
  </tr>
</table>
  <br><button routerLink="/novousuario" class="btn btn-primary">Novo Usuário</button>
