<h4>
  Retirada de Livro!
</h4>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Nome Cliente</th>
      <th>Título do Livro</th>
      <th>Data Retirada</th>
      <th>Data Entrega</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1" *ngFor='let usuario of usuarios;let i=index'>
              <option>{{usuario.nome}}</option>
              <!--<option>Cliente 2</option>
              <option>Cliente 3</option>
              <option>Cliente 4</option>-->
            </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1" *ngFor='let livro of livros;let i=index'>
              <option *ngFor='let livro of livros;let i=index'></option>
              <!--<option>Livro 2</option>
              <option>Livro 3</option>
              <option>Livro 4</option>-->
            </select>
        </div>
      </td>
      <td><input type="date" class="datepicker"></td>
      <td><input type="date" class="datepicker"></td>
    </tr>
  </tbody>
</table>
<br>
<a class="btn waves-effect col s6" (click)="salvar()">Confirma Retirada</a>
<a class="btn waves-effect col s6" (click)="cancelar()">Cancela Retirada</a>