
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white;
}

tr:nth-child(even) {
    background-color: #999;
}

.btn {
	width: 150px;
	height: 40px;
	font-size:1.3rem;
    text-decoration: none;
    color: black;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
	border-radius:10px;
}

input {
    border-radius: 10px;;
}