<h3>
  Retirada de Livro!
</h3>
<table>
  <tr>
    <th>Nome Cliente</th>
    <th>Título do Livro</th>
    <th>Data Retirada</th>
    <th>Data Entrega</th>
  </tr>
  <tr>
    <td>cliente</td>
    <td>livro</td>
    <td>
      <input type="date" class="datepicker">
    </td>
    <td>
      <input type="date" class="datepicker">
</td>
  </tr>
</table>
  <br><input type="button" class="btn btn-primary" value="Confirma Retirada" (click)="salvar()"/>
      <input type="button" class="btn btn-primary" value="Cancela Retirada" (click)="cancelar()"/>

      
