<h4>
  Formulário Cliente!
</h4>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Nome</th>
      <th>e-mail</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input placeholder="Matricula" type="number" [(ngModel)]="usuario.matricula"></td>
      <td><input placeholder="Nome do Cliente" type="text" [(ngModel)]="usuario.nome"></td>
      <td><input placeholder="e-mail" type="email" id="email" class="validate" data-error="e-mail inválido" data-success="right" [(ngModel)]="usuario.email"></td>
      <td><input placeholder="Telefone" type="text" [(ngModel)]="usuario.telefone"></td>
    </tr>
  </tbody>
</table>
<br>
<input type="button" class="btn btn-primary" value="Salvar" (click)="salvar()" />
<input type="button" class="btn btn-primary" value="Cancelar" (click)="cancelar()" />