<h3>
  Formulário Cliente!
</h3>
  <table>
    <tr>
      <th>Matricula: </th>
      <th><input type="text" [(ngModel)]="usuario.matricula"></th>
    </tr>
    <tr>
      <th>Nome: </th>
      <th><input type="text" [(ngModel)]="usuario.nome"></th>
    </tr>
    <tr>
      <th>e-Mail: </th>
      <td><input type="text" [(ngModel)]="usuario.email"></td>
    </tr>
    <tr>
      <th>Telefone: </th>
      <td><input type="text" [(ngModel)]="usuario.telefone"></td>
    </tr>
  </table>
  <input type="button" class="btn btn-primary" value="Salvar" (click)="salvar()"/>
  <input type="button" class="btn btn-primary" value="Cancelar" (click)="cancelar()"/>
