<h4>
  Tabela Autores!
</h4>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>País de Origem</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let autor of autores;let i=index'>
      <td>{{autor.nome}}</td>
      <td>{{autor.origem}}</td>
      <td><a [routerLink]="['/edicaoautor',i]">Editar</a></td>
      <td><a routerLink="/lista" (click)="removerAutor(i)">Remover</a></td>
    </tr>
  </tbody>
</table>
<br>
<a routerLink="/novoautor" class="btn waves-effect waves-light">Novo Autor</a>