* {
    margin:0;
    padding:0;
}

header {
	text-align: center;
	border: 1px solid #111;
	height: 80px;
	width: 100%;
}

footer {
	background-image: url ("img/livros.png");
	border: 1px solid #111;
    height: 70px;
    width: 100%;
	text-align: center;
    position: absolute;
    bottom:0;
}

.container {
    position: relative;
    height: 500px;
    width: 100%;
	background-color: white;
	text-align: center;
}

.container button {
	width: 150px;
	height: 40px;
}

.menu {
	border: 1px solid #111;
	position: absolute;
	left: 0px;
	width: 200px;
	height: 500px;
	align-content: 0px;
	color:#111;
	text-align: center;
}

.menu button {
	width: 100px;
	height: 40px;
}

div .section {
	margin-left: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
/*
td, th {
    border: 1px solid #111;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #999999;
}*/
