/*@import "../node_modules/materialize-css/dist/css/materialize.css";*/
.row {
    /*border: red solid 1px;*/
}

.col-sm-2 {
    /*border: black solid 1px;*/
    /*background: gray;*/
}

.col-sm-10 {
    /*border: aqua solid 1px;*/
    /*background: greenyellow;*/
}

.container-fluid {
    /*border: rebeccapurple solid 1px;*/
}

.navbar-header {
    background-color: #26a69a;
}

.btn {
	width: 200px;
	height: 40px;
	font-size:1.3rem;
    text-decoration: none;
    color: black;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
	border-radius:10px;
}
  
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #26a69a; 
    padding-top: 0px;
    /*border: darkblue solid 1px;*/
}

