<!--Cabeçalho Aqui-->
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="img/iconelivro.png" align="left" width="65px">
                <h3>Projeto Biblioteca</h3>
            </div>  
        </div>
    </nav>
</header>
<!--Cabeçalho Termina Aqui-->
<body>
<!--Conteiner Começa Aqui-->
    <div class="container">
        <!--Menu Começa aqui-->
        <div class="menu">
            <p> Menu de Navegação</p><br>
            <button class="btn btn-primary">Clientes</button>
            <button class="btn btn-primary">Livros</button>
            <button class="btn btn-primary">Autores</button>
            <button class="btn btn-primary">Relatórios</button>
            <button class="btn btn-primary">Teste</button>
        </div>
        <!--Menu Terminal aqui-->
        <!--Section começa Aqui-->
        <div class="section">
            <!--Tabela Começa Aqui-->
            <app-tabela-usuarios></app-tabela-usuarios>
            <br><button class="btn btn-primary">Botão Incluir</button>
            <!--Tabela Termina Aqui-->
            <app-formulario-usuarios></app-formulario-usuarios>
            
        </div>
        <!--Section Termina Aqui-->
    </div>
    <!--Conteiner Termina Aqui-->
</body>
<!--Rodapé Aqui-->
<footer>
    <img src="img/livros.png" align="left" width="200px">
  Desenvolvido por Mário Mateus Prederigo.<br>
  Versão 0.5.
  APS 1. Angular<br>
</footer>

<!--Fim do Rodapé Aqui-->