<!--<header>
    <nav class="card-panel blue darken-1">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="img/iconelivro.png" align="left" width="65px">
                <h3>Projeto Biblioteca</h3>
            </div>
        </div>
    </nav>
</header>-->
<div class="container-fluid">
  <div class="row">
    <div class="menu">
      <img src="img/iconelivro.png" align="left" width="65px">
      <h3>Projeto Biblioteca</h3>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <a routerLink="/usuarios" class="btn waves-effect waves-light">Clientes</a><br><br>
      <a routerLink="/autor" class="btn waves-effect waves-light">Autores</a><br><br>
      <a routerLink="/livros" class="btn waves-effect waves-light">Livros</a><br><br>
      <a routerLink="/retirada" class="btn waves-effect waves-light">Retiradas</a><br><br>
      <a routerLink="/" class="btn waves-effect waves-light">Relatórios</a><br><br>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="page-footer">
    <img src="img/indice.jpg" align="left" width="200px">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Desenvolvido por Mário Mateus Prederigo.</h5>
          <p class="grey-text text-lighten-4">Versão 2.0. APS 1. Angular. 09/06/2017.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Liberado
        <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      </div>
    </div>
  </footer>


  <!--<div class="row">
    <footer>
      <img src="img/livros.png" align="left" width="200px"> Desenvolvido por Mário Mateus Prederigo.<br> Versão 2.0. APS
      1.Angular. 09/06/2017.<br>
    </footer>
  </div>-->

</div>

<!--<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    teste <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>-->