<h3>
  Tabela Livros!
</h3>
<script>
    jQuery(function($){
      $("#isbn").mask("99-999-9999-9");
    });
  </script>
<table>
  <tr>
    <th>ISBN</th>
    <th>Título do Livro</th>
    <th>Autor</th>
    <th>Editora</th>
    <th>Ano Publicação</th>
    <th>Editar</th>
    <th>Remover</th>
  </tr>
  <tr *ngFor='let livro of livros;let i=index'>
    <td>{{livro.isbn}}</td>
    <td>{{livro.nome}}</td>
    <td>{{livro.autor}}</td>
    <td>{{livro.editora}}</td>
    <td>{{livro.anopublicacao}}</td>
    <td><a [routerLink]="['/edicaolivro',i]">Editar</a></td>
    <td><a routerLink="/lista" (click)="removerLivro(i)">Remover</a></td>
  </tr>
</table>
<br>
<a routerLink="/novolivro" class="btn waves-effect waves-light col s12">Novo Livro</a>