<h4>
  Formulário Livro!
</h4>

  <table class="responsive-table">
    <thead>
      <tr>
      <th>ISBN</th>
      <th>Título do Livro</th>
      <th>Autor</th>
      <th>Editora</th>
      <th>Ano Publicação</th>
    </tr>
    </thead>
    <tbody>
      <td><input placeholder="ISBN" type="text" id="isbn" [(ngModel)]="livro.isbn"></td>
      <td><input placeholder="Título" type="text" id="nome" [(ngModel)]="livro.nome"></td>
      <td><input placeholder="Autor" type="text" id="autor" [(ngModel)]="livro.autor"></td>
      <td><input placeholder="Editora" type="text" id="editora" [(ngModel)]="livro.editora"></td>
      <td><input placeholder="Ano da Publicação" type="number" id="anopublicacao" [(ngModel)]="livro.anopublicacao"></td>
    </tbody>
  </table>
  <br>
  <a class="btn waves-effect col s6" (click)="salvar()">salvar</a>
  <a class="btn waves-effect col s6" (click)="cancelar()">cancelar</a>