<h3>
  Formulário Livro!
</h3>
  <table>
    <tr>
      <th>ISBN: </th>
      <th><input placeholder="ISBN" type="text" id="isbn" [(ngModel)]="livro.isbn"></th>
    </tr>
    <tr>
      <th>Título do Livro: </th>
      <th><input placeholder="Título" type="text" [(ngModel)]="livro.nome"></th>
    </tr>
    <tr>
      <th>Autor: </th>
      <td><input placeholder="Autor" type="text" [(ngModel)]="livro.autor"></td>
    </tr>
    <tr>
      <th>Editora: </th>
      <td><input placeholder="Editora" type="text" [(ngModel)]="livro.editora"></td>
    </tr>
    <tr>
      <th>Ano Publicação: </th>
      <td><input placeholder="Ano da Publicação" type="text" [(ngModel)]="livro.anopublicacao"></td>
    </tr>
  </table>
  <br>
  <a class="btn waves-effect waves-light col s12" (click)="salvar()">salvar</a>
  <a class="btn waves-effect waves-light col s12" (click)="cancelar()">cancelar</a>