<h3>
  Formulário Autor!
</h3>
  <table>
    <tr>
      <th>Nome:</th>
      <th><input placeholder="Nome do Autor" type="text" [(ngModel)]="autor.nome"></th>
    </tr>
    <tr>
      <th>País de Origem:</th>
      <td><input placeholder="País de Origem" type="text" [(ngModel)]="autor.origem"></td>
    </tr>
  </table>
  <input type="button" class="btn btn-primary" value="Salvar" (click)="salvar()"/>
  <input type="button" class="btn btn-primary" value="Cancelar" (click)="cancelar()"/>
