<h3>
  Formulário Autor!
</h3>
  <table>
    <tr>
      <th>Nome:</th>
      <th><input placeholder="Nome do Autor" type="text" [(ngModel)]="autor.nome"></th>
    </tr>
    <tr>
      <th>País de Origem:</th>
      <td><input placeholder="País de Origem" type="text" [(ngModel)]="autor.origem"></td>
    </tr>
  </table>
  <br>
  <a class="btn waves-effect waves-light col s12" (click)="salvar()">salvar</a>
  <a class="btn waves-effect waves-light col s12" (click)="cancelar()">cancelar</a>
