<h4>
  Formulário Autor!
</h4>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>País de Origem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input placeholder="Nome do Autor" type="text" [(ngModel)]="autor.nome"></td>
      <td><input placeholder="País de Origem" type="text" [(ngModel)]="autor.origem"></td>
    </tr>
  </tbody>
</table>
<br>
<a class="btn waves-effect waves-light" (click)="salvar()">salvar</a>
<a class="btn waves-effect waves-light" (click)="cancelar()">cancelar</a>